/* Centering the images */

html, body {
  height: fit-content;
  margin: 0;
  padding: 0;
  background-color: rgb(245, 240, 234);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(245, 240, 234);
}


#logo{
  width: 30%;
  position: relative;
  margin-top: 0%;
  margin-left: 1%;

}
#line {
  height: 1px;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 4%;
}
#instagram{
  width: 2%;
 margin-bottom: 4.2%;
 margin-top: 4%;
 margin-left: 0.2%;
}
#instagram:hover{
  opacity: 50%;
}
#facebook{
  width: 2.2%;
 margin-bottom: 4.2%;
 margin-top: 4%;
 margin-left: 2%;
}
#facebook:hover{
  opacity: 50%;
}
#home{
  width: 4%;
  margin-right: 1%;
  margin-left: 30%;
  margin-bottom: 4%;
  
  
  
}
#home:hover{
  opacity: 50%;
}

#contact{
  width: 4.3%;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 3.9%;

}
#contact:hover{
  opacity: 50%;
}
#gallery{
  width: 4.5%;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 3.84%;


}
#gallery:hover{
  opacity: 50%;
}
#pricing{
  width: 3.8%;
  
  margin-left: .5%;
  margin-bottom: 3.782%;

}
#pricing:hover{
  opacity: 50%;
}


#box{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(245, 240, 234);
}

/* Styling the images */
#pic1,
#pic2,
#pic3,
#pic4,
#pic5,
#pic6,
#pic7,
#pic8,
#pic9,
#pic10,
#pic11,
#pic12,
#pic13,
#pic14,
#pic15,
#pic16,
#pic17,
#pic18,
#pic19,
#pic20,
#pic21,
#pic22,
#pic23 {
  box-shadow: 5px 5px 5px;
  margin: 1% 0;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

